__pycache__
*.pyc
*/__pycache__/
*/.pytest_cache/
*/.mypy_cache/
*/.mypy/
*/.coverage
*/.vscode/
*/.idea/
.DS_Store
*/.DS_Store
*/.ipynb_checkpoints/
trained_models/
data/sets/*
requirements.verbose.txt
package/
supervisord.log
supervisord.pid
.env.local
allonode-data/config.json
allonode-data*/.env
fingerprint.py
endpoints/inference.withinputs.py
.env
